---
---

@import "{{ site.theme }}";

footer {
  display: none;
}

.btn {
  display: none;
}

/* About Me のコンテナ */
.about-container {
  display: flex;
  align-items: center;
  gap: 20px; /* 画像とテキストの間隔 */
}

/* プロフィール画像 */
.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%; /* 丸いアイコン */
  display: block;
  margin-bottom: 10px;
}

/* アイコンのスタイル */
.icon {
  width: 30px;
  height: 30px;
  margin: 5px;
  transition: transform 0.2s ease-in-out;
}

/* マウスホバー時に拡大 */
/* .icon:hover {
  transform: scale(1.2); 
} */

/* 右側のテキスト */
.about-text {
  flex: 1; /* テキストが自動で伸縮 */
}

/* スマホ対応（縦配置に変更） */
@media (max-width: 600px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }
}


.top-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  text-align: center;
  z-index: 1000;
}

.top-navbar a {
  color: #0E3B73;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  display: inline-block;
}

.top-navbar a:hover {
  text-decoration: underline;
}

body {
  padding-top: 60px;
}
