---
---

@import "{{ site.theme }}";

footer {
  display: none !important;
}

.btn {
  display: none !important;
}

.top-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: red; /* #ffffff; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  text-align: center;
  z-index: 1000;
}

.top-navbar a {
  color: #007bff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.top-navbar a:hover {
  text-decoration: underline;
}

body {
  padding-top: 50px; /* ナビゲーションが上に固定されるため、本文が隠れないように調整 */
}
