---
---

@import "{{ site.theme }}";

footer {
  display: none !important;
}

.btn {
  display: none !important;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #f8f9fa;
  padding: 10px;
}

.navbar a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.navbar a:hover {
  color: #0056b3;
}
